
  <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
  <center> <h1> PackSavvy </h1> </center> 
    
  <form action = "/results" method="post">
    
    <center><h2> Where will you be traveling? </h2> </center> <br> 
    
    <center> <h7> <input type="text" name="traveldestination"> </h7> </center>
    <br> 
    <br>
    
    <center> <h3> How many days will you be staying? </h3> </center> 
    
    <center> <input id="input" type ="text" name="dates"></center>
      <br>
     <br>
    
    <center> <h4> What activities will you participate in (please check off)? </h4> </center> 
    
   <input type="checkbox" name="activities[]" value="Swimming">Swimming <br>
    <input type="checkbox" name="activities[]" value="Work">Work <br>
     <input type="checkbox" name="activities[]" value="Fitness">Fitness <br>
     <input type="checkbox" name="activities[]" value="Newborn"> Newborn <br>
     <input type="checkbox" name="activities[]" value="Elegant Dinner or Event"> Elegant Dinner Or Event <br>
     <input type="checkbox" name="activities[]" value="Beach">Beach <br>
     <input type="checkbox" name="activities[]" value="Winter Sports">Winter Sports <br>
      <input type="checkbox" name="activities[]" value="Hiking"> Hiking <br> 
    

      <input type="submit" value="Submit">
    </form>


  </body>
  </html> 