
  <!DOCTYPE html>
<html>
  <head>
  </head>
  <center> <h1> PackSavvy </h1> </center> 
  <body>

  <form action = "/results" method="post">
    <center> Where will you be traveling?: </center> <br> 
  <input type="text" name="traveldestination">
    <br> 
    <br>
    <center> Length of stay? </center> 
      <input type ="text" name="dates">
      <br>
     <br>
    <center> What activities wil you participate in (please check off)? </center> 
    <input type="radio" name="activities" value="Swimming">Swimming <br>
    <input type="radio" name="activities" value="Work">Work <br>
     <input type="radio" name="activities" value="Fitness">Fitness <br>
     <input type="radio" name="activities" value="Newborn"> Newborn <br>
     <input type="radio" name="activities" value="Elegant Dinner or Event"> ElegantDinnerOrEvent <br>
     <input type="radio" name="activities" value="Beach">Beach <br>
     <input type="radio" name="activities" value="Winter Sports">WinterSports <br>
     <input type="radio" name="activities" value="Hiking"> Hiking <br>
    
<p><b>Note:</b> When a user clicks on a radio-button, it becomes checked, and all other radio-buttons with equal name become unchecked.</p>

      <input type="submit" value="Submit">
    </form>


  </body>
  </html> 