
  <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/style.css">
  </head>

  <body>
  <center> <h1> PackSavvy </h1> </center> 
    
  <form action = "/results" method="post">
    
    <center><h2> Where will you be traveling?: </h2> </center> <br> 
    
  <input type="text" name="traveldestination">
    <br> 
    <br>
    
    <center> <h3> Length of stay? </h3> </center> 
    
      <input type ="text" name="dates">
      <br>
     <br>
    
    <center> <h4> What activities wil you participate in (please check off)? </h4> </center> 
    
    <input type="checkbox" name="activities" value="Swimming">Swimming <br>
    <input type="checkbox" name="activities" value="Work">Work <br>
     <input type="checkbox" name="activities" value="Fitness">Fitness <br>
     <input type="checkbox" name="activities" value="Newborn"> Newborn <br>
     <input type="checkbox" name="activities" value="Elegant Dinner or Event"> Elegant Dinner Or Event <br>
     <input type="checkbox" name="activities" value="Beach">Beach <br>
     <input type="checkbox" name="activities" value="Winter Sports">Winter Sports <br>
     <input type="checkbox" name="activities" value="Hiking"> Hiking <br>
    
   
    
    
    
    
<p><b>Note:</b> When a user clicks on a radio-button, it becomes checked, and all other radio-buttons with equal name become unchecked.</p>

      <input type="submit" value="Submit">
    </form>


  </body>
  </html> 