<!-- <!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
    <body>
      
     
      <center><h1>Your packing list includes the following:</h1> </center>
        <center><p><%=@part2%> </p> </center>
      
      </body>
  
</html>
 -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Pack it up</title>

    
<link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">packzzz and stackzzzz</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pack">Pack</a>
                    </li>
                  
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                   <li>
                        <a class="page-scroll" href="#results">Results</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Let's take a look at your customized list!</div>
               
                <a href="#results" class="page-scroll btn btn-xl">Let's have an adventure!</a>
            </div>
        </div>
    </header>
  
<!-- Results Section --> 
  <section id="results" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Your customized packing list includes the following:</h2> <br>
                    <p class="section-heading"> <%=@part2%> </p>
                </div>
            </div>
          
          
 <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hi!!!</h2>
                    <h3 class="section-subheading text-muted">Meet the founders of PACKZZZ AND STACKZZZZ.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/10514494_798009406983865_3147518237740842196_n.jpg?oh=fbf26eccd98aa7171e5814b3b1bd8bcc&oe=561F3110" class="img-responsive img-circle" alt="">
                        <h4>Phoebe Aronds </h4>
                        <p class="text-muted">Co-creator, Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://instagram.com/phoebearonds/"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11737945_798013303650142_3791205344515133853_n.jpg?oh=4282b5f817a18711894ea9c16a528a68&oe=56581904" class="img-responsive img-circle" alt="">
                        <h4>Catherine Beck</h4>
                        <p class="text-muted">Co-creator, Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/catherine.taylor.beck"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://instagram.com/catherinetbeck/"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/11751747_798008450317294_1681513004351067804_n.jpg?oh=49f75f792b0e563cac9299ac4ef3d166&oe=561822DE" class="img-responsive img-circle" alt="">
                        <h4>Michelle Vera</h4>
                        <p class="text-muted">Co-creator, Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://instagram.com/michellev_123"><i class="fa fa-instagram"></i></a></li> 
                                <li><a href=">https://twitter.com/veraygood"><i class="fa fa-twitter"></i></a>
                        </li>
                          
                      
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We at PACKZZZ AND STACKZZZZ are wanderlust. We love travel and adventure. Traveling can take a toll on the both the body and the mind. We aim to make traveling as easy as possible. Once the hassle of booking a flight and a hotel and a ride and make reservations and this and that... we want to further reduce YOUR stress by creating a simple, but elegant, list of items to pack that will minimize struggle of getting out of your house and on to your next adventure. </p>
                </div>
            </div>
        </div>
    </section>
  
  


  

   
          
          <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; PACKZZZ AND STACKZZZZ 2015 </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                      
                        <li><a href="https://www.facebook.com/packzzzandstackzzz123?skip_nax_wizard=true&ref_type=registration_form"><i class="fa fa-facebook"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

   

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>


