h1{
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: white 
}

body {
  background-image: url(http://static1.squarespace.com/static/537a7e80e4b0d6833769c57f/t/54a72c6ce4b040ef97dad2d0/1420242039929/airplane+sunset.jpg?format=1500w)
    
}

h2{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: white 
}

h3{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: white 
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: white 
}



.input {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: white 
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: white 
}

